include mixins/_flashes

<!DOCTYPE html>
html(lang="en")

  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= `${title || ''} | ${h.siteName}`
    link(href="https://fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,400i,700,700i,800,800i" rel="stylesheet")
    link(href="/dist/mvc-demo.css" rel="stylesheet")

  body.bg-dots
    block header
      header.px2.bg-black
        nav.container.flex.flex-center
          h1.mt0.mr1.sm-mr2.mb0.py2.fw600.sm-fw800
            a.white.hover-no-decoration(href="/")= h.siteName
          div.self-stretch.flex
            a.flex.flex-center.px1.sm-px2.h5.sm-h4.fw400.sm-fw700.center.white.hover-bg-dots.hover-no-decoration(href="/staff") All staff
            a.flex.flex-center.px1.sm-px2.h5.sm-h4.fw400.sm-fw700.center.white.hover-bg-dots.hover-no-decoration(href="/staff/add") Add member
        
    block messages
      +flashes(member)
    
    block content
