extends layout

block content
  section.mt3.mb3
    .container
      h1= title
      ol.mxn2.list-reset.flex.flex-wrap.align-stretch
        each member in staff
          li.mb3.px2.col-4.flex.align-stretch
            div.p2.col-12.bg-white.shadow
              p.h1
                a(href=`/staff/${member.slug}`) #{member.name.fullName}
              a.block(href=`/staff/${member.slug}/edit`) Edit
