extends layout

block content
  section.mt3.mb3
    .container
      h1= title
      ol
        each vendor in vendors
          li #{vendor.vendorName} | 
            a(href=`/vendors/${vendor._id}/edit`) Edit
